.container{
  background-color: var(--white);
  width: 90%;
  margin: 0 auto 1em;
  padding: 1.5em;
  position: relative;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  bottom: 55px;
  grid-area: form;
}.container h1{
  color: var(--marineBlue);
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: .3em;
}.container h2{
  color: var(--coolGray);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1em;
}

@media(min-width: 700px){
  .container{
    bottom: initial;
    box-shadow: none;
    margin: auto;
    margin-top: min(5%, 25px);
    max-width: 570px;
  }
  .container h1{
    font-size: 2rem;
    line-height: 1.2;
  }
}