.container{
  background-color: var(--alabaster);
  width: 90%;
  margin: 0 auto 1em;
  padding: 1.5em;
  position: relative;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  bottom: 55px;
}.container h1{
  color: var(--marineBlue);
  font-size: 1.5rem;
  line-height: 1.5;
}.container h2{
  color: var(--coolGray);
  font-size: 1rem;
  font-weight: 400;
}