.container{
  width: 100%;
  padding: 2em 0;
  padding-bottom: 5em;
  background-color: var(--purplishBlue);
  background-image: url('/images/bg-sidebar-mobile.svg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: sidebar;
}

.progressList{
  list-style: none;
  padding: 0%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  max-width: 180px;
  margin: 0 auto;
}
.progressListNum{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-weight: 700;
}
.progressListExp{
  display: none;
}

@media(min-width: 700px){
  .container{
    border-radius: 12px;
    background-image: url('../../public/images/bg-sidebar-desktop.svg');
    max-width: 300px;
    min-width: 205px;
    min-height: 500px;
  }
  .progressList{
    flex-direction: column;
    row-gap: 1.5em;
    margin: 0%;
    margin-top: 5%;
    margin-left: 10%;
  }.progressList li{
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: min(10%, 1em);
  }.progressListExp{
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
  }.progressListExp p:first-of-type{
    color: var(--coolGray);
    font-size: .75rem
  }.progressListExp p:last-of-type{
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
  }
}