.container{
  width: 100%;
  padding: 2em 0;
  padding-bottom: 4em;
  background-color: var(--purplishBlue);
  background-image: url('/images/bg-sidebar-mobile.svg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.progressList{
  list-style: none;
  padding: 0%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.progressListNum{
  color: var(--white);
}
.progressListExp{
  display: none;
}