.layout{
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 1em;
  flex-direction: column;
  margin-bottom: 1.5em;
}
.layout button{
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: flex-start;
  column-gap: 1em;
  outline: none;
  background-color: transparent;
  border: 1px solid var(--lightGray);
  border-radius: 8px;
  padding: 1em;
}.layout button:hover, .layout button:focus{
  border-color: var(--marineBlue);
}

.dummy{
  text-align: left;
}.dummy h3{
  color: var(--marineBlue);
  font-size: 1rem;
  font-weight: 500;
}.dummy p:first-of-type{
  color: var(--coolGray);
  font-size: .85rem;
}.dum{
  color: var(--marineBlue);
  font-size: .75rem;
}

.chosen{
  border-color: var(--marineBlue);
  background-color: var(--magnolia);
}

.switchContainer{
  width: 100%;
  background-color: var(--alabaster);
  border-radius: 5px;
  padding: 1em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.switch{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  max-width: 200px;
}.switch p{
  font-weight: 500;
  color: var(--coolGray);
}.switch p:first-of-type{
  color: var(--marineBlue);
}.switch button{
  cursor: pointer;
  position: relative;
  width: 20%;
  max-width: 40px;
  height: 20px;
  outline: none;
  border: none;
  border-radius: 20px;
  background-color: var(--marineBlue);
}.switch button span{
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: var(--white);
  border-radius: 50%;
}.switch button:hover span, .switch button:focus span{
  outline: 1px solid var(--white);
}

.active p:last-of-type{
  color: var(--marineBlue);
}.active p:first-of-type{
  color: var(--coolGray);
}.active button span{
  left: initial;
  right: 10%;
}

.planActive{
  background-color: var(--magnolia) !important;
  border-color: var(--marineBlue) !important;
}


@media(min-width: 700px){
  .layout{
    flex-direction: row;
  }
  .layout button{
    width: 30%;
    flex-direction: column;
    row-gap: 2em;
    padding: 1em min(3%, 1em);
  }
}